flask-peewee
peewee
pymysql
flask~=3.1.0
flask-script
flask-wtf
flask-login
sqlalchemy~=2.0.36
efinance~=0.5.2
selenium~=4.27.1
pandas~=2.2.3
PyAutoGUI~=0.9.54
ddddocr~=1.5.6
WTForms~=3.2.1
Werkzeug~=3.1.3
pillow~=11.0.0
numpy~=2.2.1
treys~=0.1.8
torch~=2.6.0